.page {
    position: relative;
    width: 1920px;
    height: 6122px;
    overflow: hidden;
}

.group_5 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 6122px;
}

.box_1 {
    height: 720px;
    background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPng3b8544e0c789aed1f53f398991e061a15dc0e01dde9751a9f64ab0dbf19a973d)
    100% no-repeat;
    background-size: 100% 100%;
    width: 1920px;
}

.box_22 {
    width: 1168px;
    height: 44px;
    margin: 24px 0 0 360px;
}

.image_1 {
    width: 348px;
    height: 44px;
}

.text_1 {
    width: 32px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 10px 0 0 196px;
}

.text_2 {
    width: 32px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 10px 0 0 80px;
}

.thumbnail_1 {
    width: 16px;
    height: 16px;
    margin: 14px 0 0 12px;
}

.text_3 {
    width: 32px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 10px 0 0 52px;
}

.thumbnail_2 {
    width: 16px;
    height: 16px;
    margin: 14px 0 0 12px;
}

.text_4 {
    width: 64px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 10px 0 0 52px;
}

.text_5 {
    width: 32px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 10px 0 0 80px;
}

.text_6 {
    width: 32px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 10px 0 0 80px;
}

.text-wrapper_34 {
    width: 288px;
    height: 45px;
    margin: 140px 0 0 360px;
}

.text_7 {
    width: 288px;
    height: 45px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 45px;
}

.text-wrapper_35 {
    width: 493px;
    height: 25px;
    margin: 16px 0 0 360px;
}

.text_8 {
    width: 234px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

.text_9 {
    width: 219px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

.text-wrapper_36 {
    width: 120px;
    height: 22px;
    margin: 72px 0 0 360px;
}

.text_10 {
    width: 120px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
}

.text-wrapper_37 {
    width: 534px;
    height: 25px;
    margin: 21px 0 0 360px;
}

.text_11 {
    width: 198px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

.text_12 {
    width: 144px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin-left: 36px;
}

.text_13 {
    width: 108px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin-left: 48px;
}

.text-wrapper_38 {
    width: 292px;
    height: 24px;
    margin: 159px 0 0 814px;
}

.text_14 {
    width: 292px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
}

.text-wrapper_39 {
    width: 112px;
    height: 40px;
    margin: 20px 0 43px 904px;
}

.text_15 {
    width: 112px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
}

.block_14 {
    position: relative;
    width: 1920px;
    height: 5403px;
    margin-bottom: 1px;
}

.group_13 {
    width: 1196px;
    height: 322px;
    margin: 29px 0 0 360px;
}

.block_1 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    border-radius: 8px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/5623cfb9f2264faebe712eb690c7da79_mergeImage.png);
    width: 372px;
    height: 322px;
}

.section_38 {
    width: 326px;
    height: 148px;
    margin-left: 28px;
}

.paragraph_1 {
    width: 144px;
    height: 64px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    margin-top: 84px;
}

.image-wrapper_1 {
    height: 144px;
    width: 144px;
}

.image_2 {
    width: 144px;
    height: 144px;
}

.image-text_35 {
    position: relative;
    width: 339px;
    height: 133px;
    margin: 23px 0 18px 12px;
}

.image-text_36 {
    position: relative;
    width: 339px;
    height: 133px;
}

.image-text_37 {
    position: relative;
    width: 339px;
    height: 133px;
}

.image-text_38 {
    width: 339px;
    height: 133px;
}

.thumbnail_3 {
    width: 12px;
    height: 12px;
    margin-top: 112px;
}

.paragraph_2 {
    width: 315px;
    height: 133px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
}

.thumbnail_4 {
    position: absolute;
    left: 0;
    top: 78px;
    width: 12px;
    height: 12px;
}

.thumbnail_5 {
    position: absolute;
    left: 0;
    top: 9px;
    width: 12px;
    height: 12px;
}

.thumbnail_6 {
    position: absolute;
    left: 0;
    top: 43px;
    width: 12px;
    height: 12px;
}

.block_2 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    border-radius: 8px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/97d0b5de3b80418f8819e730add9d328_mergeImage.png);
    width: 372px;
    height: 322px;
    margin-left: 40px;
}

.group_14 {
    width: 329px;
    height: 147px;
    margin: 1px 0 0 46px;
}

.paragraph_3 {
    width: 144px;
    height: 64px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    margin-top: 83px;
}

.image-wrapper_2 {
    height: 144px;
    width: 144px;
}

.image_3 {
    width: 130px;
    height: 101px;
    margin: 22px 0 0 7px;
}

.image-text_39 {
    position: relative;
    width: 304px;
    height: 133px;
    margin: 24px 0 17px 12px;
}

.image-text_40 {
    position: relative;
    width: 304px;
    height: 133px;
}

.image-text_41 {
    position: relative;
    width: 304px;
    height: 133px;
}

.image-text_42 {
    width: 304px;
    height: 133px;
}

.thumbnail_7 {
    width: 12px;
    height: 12px;
    margin-top: 111px;
}

.paragraph_4 {
    width: 280px;
    height: 133px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
}

.thumbnail_8 {
    position: absolute;
    left: 0;
    top: 77px;
    width: 12px;
    height: 12px;
}

.thumbnail_9 {
    position: absolute;
    left: 0;
    top: 8px;
    width: 12px;
    height: 12px;
}

.thumbnail_10 {
    position: absolute;
    left: 0;
    top: 42px;
    width: 12px;
    height: 12px;
}

.block_3 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    border-radius: 8px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/f1ba489ef4694b0e99f568d46b24a5e4_mergeImage.png);
    position: relative;
    width: 372px;
    height: 322px;
    margin-left: 40px;
}

.image-text_43 {
    width: 314px;
    height: 221px;
    margin: 84px 0 0 12px;
}

.thumbnail_11 {
    width: 12px;
    height: 12px;
    margin-top: 199px;
}

.text-group_28 {
    width: 290px;
    height: 221px;
}

.paragraph_5 {
    width: 216px;
    height: 64px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    margin-left: 9px;
}

.paragraph_6 {
    width: 290px;
    height: 133px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
    margin-top: 24px;
}

.image-text_44 {
    position: absolute;
    left: 12px;
    top: 84px;
    width: 314px;
    height: 221px;
}

.thumbnail_12 {
    width: 12px;
    height: 12px;
    margin-top: 96px;
}

.text-group_29 {
    width: 290px;
    height: 221px;
}

.paragraph_5 {
    width: 216px;
    height: 64px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    margin-left: 9px;
}

.paragraph_6 {
    width: 290px;
    height: 133px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
    margin-top: 24px;
}

.image-text_45 {
    position: absolute;
    left: 12px;
    top: 84px;
    width: 314px;
    height: 221px;
}

.thumbnail_13 {
    width: 12px;
    height: 12px;
    margin-top: 130px;
}

.text-group_30 {
    width: 290px;
    height: 221px;
}

.paragraph_5 {
    width: 216px;
    height: 64px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    margin-left: 9px;
}

.paragraph_6 {
    width: 290px;
    height: 133px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
    margin-top: 24px;
}

.image-text_46 {
    position: absolute;
    left: 12px;
    top: 84px;
    width: 314px;
    height: 221px;
}

.thumbnail_14 {
    width: 12px;
    height: 12px;
    margin-top: 165px;
}

.text-group_31 {
    width: 290px;
    height: 221px;
}

.paragraph_5 {
    width: 216px;
    height: 64px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    margin-left: 9px;
}

.paragraph_6 {
    width: 290px;
    height: 133px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
    margin-top: 24px;
}

.text_16 {
    width: 292px;
    height: 24px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 24px;
    margin: 120px 0 0 814px;
}

.text_17 {
    width: 112px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
    margin: 20px 0 0 904px;
}

.section_2 {
    background-color: rgba(255, 255, 255, 1);
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
    margin: 72px 0 0 360px;
}

.block_15 {
    width: 91px;
    height: 26px;
    margin: 36px 0 0 29px;
}

.label_1 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text_18 {
    width: 51px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_19 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 25px;
}

.text_20 {
    width: 366px;
    height: 28px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 28px;
    margin: 935px 0 0 777px;
}

.text_21 {
    width: 112px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
    margin: 20px 0 0 904px;
}

.grid_3 {
    width: 1200px;
    height: 548px;
    flex-wrap: wrap;
    margin: 72px 0 0 360px;
}

.list-items_1-0 {
    background-color: rgba(22, 119, 255, 1);
    width: 592px;
    height: 172px;
    margin: 0 16px 16px 0;
}

.image_4-0 {
    width: 88px;
    height: 88px;
    margin: 42px 0 0 24px;
}

.text-group_32-0 {
    width: 182px;
    height: 65px;
    margin: 53px 267px 0 31px;
}

.text_24-0 {
    width: 196px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 32px;
}

.text_25-0 {
    width: 350px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 11px;
}

.list-items_1-1 {
    background-color: rgba(22, 119, 255, 1);
    width: 592px;
    height: 172px;
    margin: 0 16px 16px 0;
    margin-right: 0;
}

.image_4-1 {
    width: 88px;
    height: 88px;
    margin: 42px 0 0 24px;
}

.text-group_32-1 {
    width: 182px;
    height: 65px;
    margin: 53px 267px 0 31px;
}

.text_24-1 {
    width: 196px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 32px;
}

.text_25-1 {
    width: 350px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 11px;
}

.list-items_1-2 {
    background-color: rgba(22, 119, 255, 1);
    width: 592px;
    height: 172px;
    margin: 0 16px 16px 0;
}

.image_4-2 {
    width: 88px;
    height: 88px;
    margin: 42px 0 0 24px;
}

.text-wrapper_40-2 {
    width: 308px;
    height: 79px;
    margin: 53px 141px 0 31px;
}

.text_22-2 {
    width: 140px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 32px;
}

.text_23-2 {
    width: 308px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 25px;
}

.list-items_1-3 {
    background-color: rgba(22, 119, 255, 1);
    width: 592px;
    height: 172px;
    margin: 0 16px 16px 0;
    margin-right: 0;
}

.image_4-3 {
    width: 88px;
    height: 88px;
    margin: 42px 0 0 24px;
}

.text-group_32-3 {
    width: 182px;
    height: 65px;
    margin: 53px 267px 0 31px;
}

.text_24-3 {
    width: 196px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 32px;
}

.text_25-3 {
    width: 350px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 11px;
}

.list-items_1-4 {
    background-color: rgba(22, 119, 255, 1);
    width: 592px;
    height: 172px;
    margin: 0 16px 16px 0;
    margin-bottom: 0;
}

.image_4-4 {
    width: 88px;
    height: 88px;
    margin: 42px 0 0 24px;
}

.text-group_32-4 {
    width: 182px;
    height: 65px;
    margin: 53px 267px 0 31px;
}

.text_24-4 {
    width: 196px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 32px;
}

.text_25-4 {
    width: 350px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 11px;
}

.list-items_1-5 {
    background-color: rgba(22, 119, 255, 1);
    width: 592px;
    height: 172px;
    margin: 0 16px 16px 0;
    margin-right: 0;
    margin-bottom: 0;
}

.image_4-5 {
    width: 88px;
    height: 88px;
    margin: 42px 0 0 24px;
}

.text-group_32-5 {
    width: 182px;
    height: 65px;
    margin: 53px 267px 0 31px;
}

.text_24-5 {
    width: 196px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 32px;
}

.text_25-5 {
    width: 350px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 11px;
}

.text_26 {
    width: 366px;
    height: 28px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 28px;
    margin: 120px 0 0 777px;
}

.text_27 {
    width: 112px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
    margin: 20px 0 0 904px;
}

.image-wrapper_8 {
    width: 950px;
    height: 100px;
    margin: 72px 0 0 476px;
}

.image_5 {
    width: 100px;
    height: 100px;
}

.image_6 {
    width: 100px;
    height: 100px;
    margin-left: 307px;
}

.image_7 {
    width: 100px;
    height: 100px;
    margin-left: 343px;
}

.group_15 {
    width: 1060px;
    height: 90px;
    margin: 32px 0 0 482px;
}

.text-group_33 {
    width: 210px;
    height: 68px;
}

.text_28 {
    width: 72px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 8px;
}

.text_29 {
    width: 210px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 14px;
}

.text-group_34 {
    width: 280px;
    height: 90px;
    margin-left: 127px;
}

.text_30 {
    width: 72px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 78px;
}

.paragraph_7 {
    width: 280px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    line-height: 22px;
    margin-top: 14px;
}

.text-group_35 {
    width: 308px;
    height: 68px;
    margin-left: 135px;
}

.text_31 {
    width: 90px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 97px;
}

.text_32 {
    width: 308px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 14px;
}

.image-wrapper_9 {
    width: 948px;
    height: 103px;
    margin: 83px 0 0 478px;
}

.image_8 {
    width: 100px;
    height: 102px;
    margin-top: 1px;
}

.image_9 {
    width: 100px;
    height: 100px;
    margin-left: 305px;
}

.image_10 {
    width: 100px;
    height: 100px;
    margin-left: 343px;
}

.group_16 {
    width: 1130px;
    height: 68px;
    margin: 26px 0 0 412px;
}

.text-group_36 {
    width: 280px;
    height: 68px;
}

.text_33 {
    width: 126px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 51px;
}

.text_34 {
    width: 280px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 14px;
}

.text-group_37 {
    width: 297px;
    height: 68px;
    margin-left: 110px;
}

.text_35 {
    width: 60px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 102px;
}

.text_36 {
    width: 297px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 14px;
}

.text-group_38 {
    width: 280px;
    height: 68px;
    margin-left: 163px;
}

.text_37 {
    width: 54px;
    height: 32px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 87px;
}

.text_38 {
    width: 280px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 14px;
}

.text_39 {
    width: 366px;
    height: 28px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 28px;
    margin: 120px 0 0 777px;
}

.text_40 {
    width: 204px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
    margin: 20px 0 0 858px;
}

.text-wrapper_8 {
    width: 739px;
    height: 96px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: right;
    line-height: 32px;
    margin: 68px 0 0 614px;
}

.paragraph_8 {
    width: 739px;
    height: 96px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 32px;
}

.text_41 {
    width: 739px;
    height: 96px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    line-height: 32px;
}

.paragraph_9 {
    width: 739px;
    height: 96px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 32px;
}

.group_17 {
    width: 1201px;
    height: 222px;
    margin: 161px 0 0 359px;
}

.block_4 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: relative;
    width: 240px;
    height: 222px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.block_16 {
    width: 172px;
    height: 28px;
    margin: 110px 0 0 34px;
}

.text-wrapper_9 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_42 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_10 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_43 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_11 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(22, 119, 255, 1);
    border-radius: 0px 0px 8px 8px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 24px;
    width: 240px;
}

.text_44 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin: 18px 0 0 84px;
}

.image_11 {
    position: absolute;
    left: 37px;
    top: -81px;
    width: 167px;
    height: 167px;
}

.image_12 {
    width: 48px;
    height: 64px;
    margin: 75px 0 0 16px;
}

.block_5 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: relative;
    width: 240px;
    height: 222px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-left: 16px;
}

.box_23 {
    width: 172px;
    height: 28px;
    margin: 110px 0 0 34px;
}

.text-wrapper_12 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_45 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_13 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_46 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_14 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(22, 119, 255, 1);
    border-radius: 0px 0px 8px 8px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 24px;
    width: 240px;
}

.text_47 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin: 18px 0 0 84px;
}

.image_13 {
    position: absolute;
    left: 37px;
    top: -81px;
    width: 167px;
    height: 167px;
}

.image_14 {
    width: 48px;
    height: 64px;
    margin: 75px 0 0 13px;
}

.block_6 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: relative;
    width: 240px;
    height: 222px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-left: 16px;
}

.box_24 {
    width: 172px;
    height: 28px;
    margin: 110px 0 0 34px;
}

.text-wrapper_15 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_48 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_16 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_49 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_17 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(22, 119, 255, 1);
    border-radius: 0px 0px 8px 8px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 24px;
    width: 240px;
}

.text_50 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin: 18px 0 0 84px;
}

.image_15 {
    position: absolute;
    left: 37px;
    top: -81px;
    width: 167px;
    height: 167px;
}

.image_16 {
    width: 48px;
    height: 64px;
    margin: 75px 0 0 20px;
}

.block_8 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: relative;
    width: 240px;
    height: 222px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-left: 16px;
}

.group_18 {
    width: 172px;
    height: 28px;
    margin: 110px 0 0 34px;
}

.text-wrapper_18 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_51 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_19 {
    background-color: rgba(22, 119, 255, 0.08);
    border-radius: 3px;
    height: 28px;
    border: 1px solid rgba(22, 119, 255, 1);
    width: 70px;
}

.text_52 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 4px 0 0 20px;
}

.text-wrapper_20 {
    box-shadow: 0px 2px 4px 0px rgba(2, 16, 36, 0.07);
    background-color: rgba(22, 119, 255, 1);
    border-radius: 0px 0px 8px 8px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 24px;
    width: 240px;
}

.text_53 {
    width: 90px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin: 18px 0 0 75px;
}

.image_17 {
    position: absolute;
    left: 37px;
    top: -81px;
    width: 167px;
    height: 167px;
}

.text_54 {
    width: 366px;
    height: 28px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 28px;
    margin: 120px 0 0 777px;
}

.text_55 {
    width: 112px;
    height: 40px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 40px;
    margin: 20px 0 0 904px;
}

.text-wrapper_41 {
    width: 711px;
    height: 22px;
    margin: 84px 0 0 605px;
}

.text_99 {
    width: 133px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(22, 119, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
}

.text_100 {
    width: 160px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-left: 122px;
}

.text_101 {
    width: 174px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-left: 122px;
}

.section_7 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    position: relative;
    width: 1200px;
    height: 494px;
    margin: 12px 0 0 360px;
}

.box_25 {
    width: 444px;
    height: 394px;
    margin: 60px 0 0 24px;
}

.image_18 {
    width: 168px;
    height: 64px;
    margin-left: 108px;
}

.text_59 {
    width: 444px;
    height: 66px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin-top: 40px;
}

.text-wrapper_22 {
    background-color: rgba(22, 119, 255, 0.07);
    height: 48px;
    width: 400px;
    margin: 48px 0 0 18px;
}

.text_60 {
    width: 224px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 89px;
}

.text-wrapper_23 {
    background-color: rgba(22, 119, 255, 0.07);
    height: 48px;
    width: 400px;
    margin: 16px 0 0 18px;
}

.text_61 {
    width: 196px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 103px;
}

.text-wrapper_24 {
    background-color: rgba(22, 119, 255, 0.07);
    height: 48px;
    width: 400px;
    margin: 16px 0 0 18px;
}

.text_62 {
    width: 196px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 13px 0 0 103px;
}

.text-wrapper_25 {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 16px;
    width: 684px;
    height: 418px;
    margin: 36px 24px 0 0;
}

.text_63 {
    width: 258px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 34px 0 0 24px;
}

.paragraph_10 {
    width: 602px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 16px 0 0 24px;
}

.text_64 {
    width: 149px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 40px 0 0 24px;
}

.paragraph_11 {
    width: 546px;
    height: 66px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 16px 0 0 24px;
}

.text_65 {
    width: 135px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 40px 0 0 24px;
}

.text_66 {
    width: 266px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-transform: uppercase;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin: 16px 0 58px 24px;
}

.box_8 {
    background-color: rgba(247, 247, 247, 1);
    height: 4px;
    width: 1201px;
    position: absolute;
    left: -1px;
    top: -3px;
}

.section_39 {
    background-color: rgba(24, 144, 255, 1);
    width: 135px;
    height: 2px;
    margin: 1px 0 0 245px;
}

.image_19 {
    width: 1920px;
    height: 539px;
    margin: 72px 0 1px 0;
}

.section_8 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 360px;
    top: 790px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.section_40 {
    width: 112px;
    height: 26px;
    margin: 36px 0 0 29px;
}

.label_2 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text_67 {
    width: 72px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_68 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 25px;
}

.section_9 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 360px;
    top: 953px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.section_41 {
    width: 130px;
    height: 26px;
    margin: 36px 0 0 29px;
}

.label_3 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text_69 {
    width: 90px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_70 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 25px;
}

.section_11 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 360px;
    top: 1116px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.image-text_47 {
    width: 148px;
    height: 26px;
    margin: 36px 0 0 29px;
}

.label_4 {
    width: 22px;
    height: 24px;
}

.text-group_12 {
    width: 108px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_71 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 25px;
}

.section_12 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 360px;
    top: 1279px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.box_26 {
    width: 112px;
    height: 26px;
    margin: 36px 0 0 29px;
}

.label_5 {
    width: 21px;
    height: 24px;
    margin-top: 1px;
}

.text_72 {
    width: 72px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_73 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 25px;
}

.section_13 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 360px;
    top: 1442px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.group_19 {
    width: 112px;
    height: 26px;
    margin: 36px 0 0 29px;
}

.image_20 {
    width: 24px;
    height: 20px;
    margin-top: 3px;
}

.text_74 {
    width: 72px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_75 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 16px 0 42px 25px;
}

.section_14 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 760px;
    top: 627px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.group_20 {
    width: 165px;
    height: 26px;
    margin: 36px 0 0 25px;
}

.label_6 {
    width: 24px;
    height: 24px;
    margin-top: 2px;
}

.text_76 {
    width: 126px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_77 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 20px;
}

.section_16 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 760px;
    top: 790px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.image-text_48 {
    width: 129px;
    height: 26px;
    margin: 36px 0 0 25px;
}

.thumbnail_15 {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.text-group_13 {
    width: 90px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_78 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 20px;
}

.section_17 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 760px;
    top: 953px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.image-text_49 {
    width: 147px;
    height: 26px;
    margin: 36px 0 0 25px;
}

.label_7 {
    width: 24px;
    height: 21px;
    margin-top: 3px;
}

.text-group_14 {
    width: 108px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_79 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 20px;
}

.section_18 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 760px;
    top: 1116px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.group_21 {
    width: 111px;
    height: 26px;
    margin: 36px 0 0 25px;
}

.label_8 {
    width: 24px;
    height: 26px;
}

.text_80 {
    width: 72px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_81 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 20px;
}

.section_19 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 760px;
    top: 1279px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.group_22 {
    width: 129px;
    height: 26px;
    margin: 36px 0 0 25px;
}

.label_9 {
    width: 24px;
    height: 25px;
    margin-top: 1px;
}

.text_82 {
    width: 90px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_83 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 20px;
}

.section_21 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 760px;
    top: 1442px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.box_27 {
    width: 129px;
    height: 26px;
    margin: 36px 0 0 25px;
}

.label_10 {
    width: 24px;
    height: 26px;
}

.text_84 {
    width: 90px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_85 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 16px 0 42px 20px;
}

.section_23 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1160px;
    top: 627px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.section_42 {
    width: 130px;
    height: 26px;
    margin: 36px 0 0 28px;
}

.label_11 {
    width: 24px;
    height: 24px;
    margin-top: 2px;
}

.text_86 {
    width: 90px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_87 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 24px;
}

.section_24 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1160px;
    top: 790px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.image-text_50 {
    width: 112px;
    height: 26px;
    margin: 36px 0 0 28px;
}

.label_12 {
    width: 24px;
    height: 22px;
    margin-top: 2px;
}

.text-group_15 {
    width: 72px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_88 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 24px;
}

.section_25 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1160px;
    top: 955px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.image-text_51 {
    width: 148px;
    height: 26px;
    margin: 34px 0 0 28px;
}

.label_13 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text-group_16 {
    width: 108px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_89 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 21px 0 39px 24px;
}

.section_26 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1160px;
    top: 1116px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.block_17 {
    width: 148px;
    height: 26px;
    margin: 36px 0 0 28px;
}

.label_14 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text_90 {
    width: 108px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_91 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 24px;
}

.section_27 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1160px;
    top: 1279px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.section_43 {
    width: 130px;
    height: 26px;
    margin: 36px 0 0 28px;
}

.label_15 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text_92 {
    width: 90px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_93 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 20px 0 38px 24px;
}

.section_28 {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1160px;
    top: 1442px;
    width: 401px;
    height: 164px;
    border: 0.5px solid rgba(217, 217, 217, 1);
}

.box_28 {
    width: 184px;
    height: 26px;
    margin: 36px 0 0 28px;
}

.label_16 {
    width: 24px;
    height: 24px;
    margin-top: 1px;
}

.text_94 {
    width: 144px;
    height: 26px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

.text_95 {
    width: 348px;
    height: 44px;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
    margin: 16px 0 42px 24px;
}

.image-wrapper_5 {
    height: 144px;
    width: 144px;
    position: absolute;
    left: 1417px;
    top: 29px;
}

.image_21 {
    width: 121px;
    height: 121px;
    margin: 12px 0 0 12px;
}
