@import '@nutui/nutui-react-taro/dist/style.css';
@import './loading';
@import './tabs';
@import './popup';
@import './numStep';
@import './noticebar';
@import './reset';

.nut-swiper-indicator {
  bottom: 10px;
  top: auto;
}

.nut-form-item-body-slots {
  .nut-cell-divider {
    display: none;
  }
}
