#noticebar-wrap {
  height: 36px;
  display: grid;
  grid-template-columns: 40px 1fr;
  color: #ff6010;
  background: #fff9ed;
  line-height: 36px;
  overflow: hidden;
  border: 1px solid #fff3e9;
  margin-bottom: 10px;
  .icon-pre {
    text-align: center;
    background-color: #fff9ed;
    border-color: #fff3e9;
    color: #ff6010;
    z-index: 1000;
    padding-left: 5px;
  }
  .scroll-animate {
    display: flex;
    &-item {
      margin-right: 20px;
    }
  }
  .normal {
    display: flex;
    flex-direction: column;
    flex: auto;
    .scroll-animate-item {
      white-space: nowrap;
    }
  }
}
