.loginComponent {
    .logo {
        width: 70px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    .ant-input-affix-wrapper {
        height: 40px;
        line-height: 40px;
    }
    .ant-drawer-body {
        padding: 0;
    }
    .ant-drawer-title {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}
.loginRoot {
    overflow: hidden;
    border-radius: 16px;
    background: #fff;
    height: 420px;
    width: 420px;
    z-index: 199;
    .header {
        height: 70px;
        display: table-cell;
        vertical-align: bottom;
        span {
            margin-left: 50px;
            display: inline-block;
            cursor: pointer;
            list-style: none;
            flex: 1;
            font-size: 18px;
            font-weight: 500;
            color: #888;
            &.actived {
                color: #444;
                font-size: 26px;
            }
            &:nth-of-type(1) {
                margin-right: 40px;
            }
        }
    }
}
.loginStyle {
    .ant-checkbox + span {
        padding-right: 0;
    }
    .bottom {
        //margin-top: 40px;
        .ant-form-item {
            margin-bottom: 10px;
        }
    }
    .no-bottom {
        .ant-form-item {
            margin-bottom: 10px;
        }
    }
    .rPart {
        .login-form-forgot {
            position: relative;
            top: 5px;
        }
        height: 300px;
        padding: 20px 40px 0;
        background-color: #fff;
        position: relative;
        .forget {
            display: flex;
            height: 35px;
            justify-content: space-between;
        }
        .login-form-button {
            font-weight: 500;
            width: 100%;
        }
        .formWrap {
            margin: 0 auto;
        }
    }
}
.bottom-protocol {
    display: flex;
    justify-content: space-between;
}
