.shopGroup {
  .shop {
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin-right: 20px;

    .img {
      width: 160px;
      height: 160px;
      display: block;
    }

    .name {
      background-color: #FFFFFF;
      height: 60px;
      width: 100%;
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
